*{
    margin: 0;
    padding: 0;
}
body{
    background-size:auto;
    color: black;
    text-align: center;
}
.container{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 10px 10px 1px rgba(29, 29, 28, 0.2) ;
    font-size: 8vmin;
    color: #c9184a;
    transition: transform 0.5s ease;
    cursor: grab ;
}
#reset-btn{
    padding: 1rem;
    border-radius: 1rem;
    background: linear-gradient(to bottom, #6eeb83, #1be7ff);
    cursor: pointer;
}
.box:focus{
    background-color: #a3c4f3;
    animation: bounce 0.2s;
}
 @keyframes bounce{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
} 
.msg-container{
    height: 100vh;
    font-size: 10vmin;
}
.hide{
    display: none;
}
.new-game{
    padding: 1rem;
    border-radius: 1rem;
    background-color: #37271a;
    cursor: pointer;
    font-size: 3vmin;
    color: #a3c4f3;
    margin: 10px;
}
footer{
    font-size: 20px;
    margin-top: 1rem;
    margin-left: 1rem;
    color: white;
    background-color: #354f52;
    height: 30vmin;
    line-height: 3.5rem;
}
a{
    color: red;
}